<p id="notice"><%= notice %></p>

<p>
  <b>nome:</b>
  <%= @description.name %>
</p>

<p>
  <b>email:</b>
  <%= @description.user.email %>
</p>

<!--p>
  <b>Picture:</b>
  <%= @description.picture %>
</p-->

<!--p>
  <b>Address:</b>
  <%= @description.address %>
</p-->

<p>
  <b>telefone:</b>
  <%= @description.phone %>
</p>

<p>
  <b>informações:</b>
  <%= @description.information %>
</p>
